body {
  background-color: #3498db; }

.jumbotron {
  margin-top: 10%;
  background-color: rgba(0, 0, 0, 0); }
  .jumbotron h1 {
    color: #fff;
    text-align: center; }
  .jumbotron p {
    padding-top: -10px;
    color: #fff;
    text-align: center; }
