body {
  background-color: #3498db; }

.jumbotron {
  margin-top: 5%;
  background-color: rgba(0, 0, 0, 0); }
  .jumbotron h1 {
    padding-top: 25%;
    text-align: center; }
  .jumbotron p {
    margin-top: -4%;
    color: #fff;
    text-align: center; }
